# (2)

## a.

In [1]:
import pandas as pd
import numpy as np
import requests
import os 
import psycopg2
import zipfile
import io
from sqlalchemy import create_engine

In [2]:
postgres_pwd = os.environ['POSTGRES_PASSWORD']

## b.

In [3]:
#download the world bank data
url = 'https://databank.worldbank.org/data/download/ESG_csv.zip'
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [4]:
#download the V-dem data
url = 'https://v-dem.net/media/datasets/Country_Year_V-Dem_Core_CSV_v12.zip'
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

## c.

In [5]:
# First, let's focus on the V-Dem data ('Country_Year_V-Dem_Core_CSV_v12/V-Dem-CY-Core-v12.csv'). Use pandas methods to perform the following tasks:

v_dem_file = 'Country_Year_V-Dem_Core_CSV_v12/V-Dem-CY-Core-v12.csv'
v_dem_df = pd.read_csv(v_dem_file)
v_dem_df.head()

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,v2xme_altinf_sd,v2xps_party,v2xps_party_codelow,v2xps_party_codehigh,v2x_divparctrl,v2x_feduni,v2xca_academ,v2xca_academ_codelow,v2xca_academ_codehigh,v2xca_academ_sd
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2021,...,0.671,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [6]:
#Keep only the 'country_text_id', 'country_name','year', 'v2x_polyarchy' columns.

v_dem_df = v_dem_df[['country_text_id', 'country_name','year', 'v2x_polyarchy']]
v_dem_df.head()

  country_text_id country_name  year  v2x_polyarchy
0             MEX       Mexico  1789          0.026
1             MEX       Mexico  1790          0.026
2             MEX       Mexico  1791          0.026
3             MEX       Mexico  1792          0.026
4             MEX       Mexico  1793          0.026

In [7]:
#Use the .query() method to keep only the rows in which year is greater than or equal to 1960 and less than or equal to 2021
v_dem_df = v_dem_df.query("year >= 1960 and year <= 2021")
v_dem_df

      country_text_id country_name  year  v2x_polyarchy
171               MEX       Mexico  1960          0.231
172               MEX       Mexico  1961          0.232
173               MEX       Mexico  1962          0.234
174               MEX       Mexico  1963          0.234
175               MEX       Mexico  1964          0.234
...               ...          ...   ...            ...
25976             ZZB     Zanzibar  2017          0.259
25977             ZZB     Zanzibar  2018          0.257
25978             ZZB     Zanzibar  2019          0.254
25979             ZZB     Zanzibar  2020          0.251
25980             ZZB     Zanzibar  2021          0.263

[10371 rows x 4 columns]

In [8]:
#Rename 'country_text_id' to 'country_code', 'country_name' to 'country_name_vdem', and 'v2x_polyarchy' to 'democracy'.

v_dem_df = v_dem_df.rename({'country_text_id': 'country_code',
                              'country_name':'country_name_vdem',
                              'v2x_polyarchy':'democracy'},
                            axis=1)
v_dem_df

      country_code country_name_vdem  year  democracy
171            MEX            Mexico  1960      0.231
172            MEX            Mexico  1961      0.232
173            MEX            Mexico  1962      0.234
174            MEX            Mexico  1963      0.234
175            MEX            Mexico  1964      0.234
...            ...               ...   ...        ...
25976          ZZB          Zanzibar  2017      0.259
25977          ZZB          Zanzibar  2018      0.257
25978          ZZB          Zanzibar  2019      0.254
25979          ZZB          Zanzibar  2020      0.251
25980          ZZB          Zanzibar  2021      0.263

[10371 rows x 4 columns]

In [9]:
#Sort the rows by 'country_code' and 'year' in ascending order. [2 points]

v_dem_df.sort_values(by=['country_code', 'year'], ascending = [True, True])

      country_code country_name_vdem  year  democracy
5404           AFG       Afghanistan  1960      0.081
5405           AFG       Afghanistan  1961      0.083
5406           AFG       Afghanistan  1962      0.083
5407           AFG       Afghanistan  1963      0.086
5408           AFG       Afghanistan  1964      0.098
...            ...               ...   ...        ...
25976          ZZB          Zanzibar  2017      0.259
25977          ZZB          Zanzibar  2018      0.257
25978          ZZB          Zanzibar  2019      0.254
25979          ZZB          Zanzibar  2020      0.251
25980          ZZB          Zanzibar  2021      0.263

[10371 rows x 4 columns]

## d.

In [10]:
#Next let's focus on the country-level World Bank data ('ESGCountry.csv'). Use pandas methods to perform the following tasks:

esg_country_df = pd.read_csv('ESGCountry.csv')
esg_country_df

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
1,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,The World Bank systematically assesses the app...,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN
2,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2017/18",Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,NaN
3,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income,AD,...,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2018.0,NaN
4,ARB,Arab World,Arab World,Arab World,1A,NaN,Arab World aggregate. Arab World is composed o...,NaN,NaN,1A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,WSM,Samoa,Samoa,Samoa,WS,Samoan tala,The reporting period for national accounts dat...,East Asia & Pacific,Lower middle income,WS,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2013",NaN,2009,NaN,2018.0,NaN
235,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,The World Bank systematically assesses the app...,Middle East & North Africa,Low income,RY,...,NaN,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",NaN,NaN,2012.0,2015.0,NaN
236,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Fiscal year end: March 31; reporting period fo...,Sub-Saharan Africa,Upper middle income,ZA,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",NaN,2007,2010.0,2018.0,NaN
237,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,National accounts data were rebased to reflect...,Sub-Saharan Africa,Low income,ZM,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",NaN,NaN,1994.0,2018.0,NaN
238,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,National Accounts data are reported in Zimbabw...,Sub-Saharan Africa,Lower middle income,ZW,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2018.0,NaN

In [11]:
#Keep only the 'Country Code', 'Table Name', 'Long Name', 'Currency Unit', 'Region', and 'Income Group' columns.

esg_country_df = esg_country_df[['Country Code', 'Table Name', 'Long Name', 'Currency Unit', 'Region', 'Income Group']]
esg_country_df.head()

,Country Code,Table Name,Long Name,Currency Unit,Region,Income Group
0,AFG,Afghanistan,Islamic State of Afghanistan,Afghan afghani,South Asia,Low income
1,AGO,Angola,People's Republic of Angola,Angolan kwanza,Sub-Saharan Africa,Lower middle income
2,ALB,Albania,Republic of Albania,Albanian lek,Europe & Central Asia,Upper middle income
3,AND,Andorra,Principality of Andorra,Euro,Europe & Central Asia,High income
4,ARB,Arab World,Arab World,NaN,NaN,NaN

In [12]:
#Rename 'Country Code' to 'country_code', 'Table Name' to 'country_name_wb', 'Long Name' to 'country_longname', 
#'Currency Unit' to 'currency_unit', 'Region' to 'region', and 'Income Group' to 'income_group'.

esg_country_df = esg_country_df.rename({'Country Code': 'country_code',
                                        'Table Name':'country_name_wb',
                                        'Long Name':'country_longname',
                                        'Currency Unit':'currency_unit',
                                        'Region':'region',
                                        'Income Group':'income_group'},
                                       axis=1)
esg_country_df.head()

,country_code,country_name_wb,country_longname,currency_unit,region,income_group
0,AFG,Afghanistan,Islamic State of Afghanistan,Afghan afghani,South Asia,Low income
1,AGO,Angola,People's Republic of Angola,Angolan kwanza,Sub-Saharan Africa,Lower middle income
2,ALB,Albania,Republic of Albania,Albanian lek,Europe & Central Asia,Upper middle income
3,AND,Andorra,Principality of Andorra,Euro,Europe & Central Asia,High income
4,ARB,Arab World,Arab World,NaN,NaN,NaN

In [13]:
#The countries in this dataset include various grouping of countries such as "Europe & Central Asia". 
#We want to remove these observations from the data. Use the .query() method to remove the rows in which 'country_name_wb' is equal to one of these non-countries. 
#(Hint: within the .query() method, you can reference an external Python variable such as noncountries by placing an @ sign in front of the variable name.) 

noncountries = ["Arab World", "Central Europe and the Baltics","Caribbean small states",
                "East Asia & Pacific (excluding high income)","Early-demographic dividend","East Asia & Pacific",
                "Europe & Central Asia (excluding high income)","Europe & Central Asia", "Euro area",
                "European Union","Fragile and conflict affected situations","High income",
                "Heavily indebted poor countries (HIPC)","IBRD only","IDA & IBRD total",
                "IDA total","IDA blend","IDA only",
                "Latin America & Caribbean (excluding high income)","Latin America & Caribbean","Least developed countries: UN classification",
                "Low income","Lower middle income","Low & middle income",
                "Late-demographic dividend","Middle East & North Africa","Middle income",
                "Middle East & North Africa (excluding high income)","North America","OECD members",
                "Other small states","Pre-demographic dividend","Pacific island small states",
                "Post-demographic dividend","Sub-Saharan Africa (excluding high income)","Sub-Saharan Africa",
                "Small states","East Asia & Pacific (IDA & IBRD)","Europe & Central Asia (IDA & IBRD)",
                "Latin America & Caribbean (IDA & IBRD)","Middle East & North Africa (IDA & IBRD)","South Asia",
                "South Asia (IDA & IBRD)","Sub-Saharan Africa (IDA & IBRD)","Upper middle income", "World"]

esg_country_df = esg_country_df.query("country_name_wb != @noncountries")
esg_country_df

,country_code,country_name_wb,country_longname,currency_unit,region,income_group
0,AFG,Afghanistan,Islamic State of Afghanistan,Afghan afghani,South Asia,Low income
1,AGO,Angola,People's Republic of Angola,Angolan kwanza,Sub-Saharan Africa,Lower middle income
2,ALB,Albania,Republic of Albania,Albanian lek,Europe & Central Asia,Upper middle income
3,AND,Andorra,Principality of Andorra,Euro,Europe & Central Asia,High income
5,ARE,United Arab Emirates,United Arab Emirates,U.A.E. dirham,Middle East & North Africa,High income
...,...,...,...,...,...,...
234,WSM,Samoa,Samoa,Samoan tala,East Asia & Pacific,Lower middle income
235,YEM,"Yemen, Rep.",Republic of Yemen,Yemeni rial,Middle East & North Africa,Low income
236,ZAF,South Africa,Republic of South Africa,South African rand,Sub-Saharan Africa,Upper middle income
237,ZMB,Zambia,Republic of Zambia,New Zambian kwacha,Sub-Saharan Africa,Low income
238,ZWE,Zimbabwe,Republic of Zimbabwe,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income

## e.

In [14]:
wb_ts_df = pd.read_csv('ESGData.csv')
wb_ts_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2050,Unnamed: 67
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.232384,86.478597,86.722685,86.937933,87.040774,87.235539,87.307068,NaN,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.015356,88.681886,89.195062,90.324659,88.910749,89.999946,90.277735,NaN,NaN,NaN
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.297891,6.237703,5.203895,6.480083,8.479070,7.437145,4.376374,NaN,NaN,NaN
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.084948,0.099784,0.095056,0.095498,0.051058,0.062195,0.079081,NaN,NaN,NaN
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,30.981194,30.982443,31.006834,31.017781,31.042245,...,36.529508,36.565532,36.627752,36.673546,36.659112,36.597936,36.659647,NaN,NaN,NaN

In [15]:
#Keep only the columns named 'Country Code', 'Country Name', and 'Indicator Code', or begin with '19' or '20'. 
#(Don't type in all the years individually. Instead, use code that finds all columns that begin '19' or '20'.)
columns_1 = ['Country Code', 'Country Name', 'Indicator Code']
columns_2 = [x for x in wb_ts_df.columns if x.startswith('19') or x.startswith('20')]
wb_ts_df = wb_ts_df[columns_1 + columns_2]
wb_ts_df.head()

,Country Code,Country Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2050
0,ARB,Arab World,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.932567,86.232384,86.478597,86.722685,86.937933,87.040774,87.235539,87.307068,NaN,NaN
1,ARB,Arab World,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.992620,88.015356,88.681886,89.195062,90.324659,88.910749,89.999946,90.277735,NaN,NaN
2,ARB,Arab World,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.638397,10.297891,6.237703,5.203895,6.480083,8.479070,7.437145,4.376374,NaN,NaN
3,ARB,Arab World,NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.062625,0.084948,0.099784,0.095056,0.095498,0.051058,0.062195,0.079081,NaN,NaN
4,ARB,Arab World,AG.LND.AGRI.ZS,NaN,30.981194,30.982443,31.006834,31.017781,31.042245,31.05018,...,36.532755,36.529508,36.565532,36.627752,36.673546,36.659112,36.597936,36.659647,NaN,NaN

In [16]:
#Then use the .drop() method to delete the column named '2050'

wb_ts_df = wb_ts_df.drop(['2050'], axis = 1)
wb_ts_df.head()

,Country Code,Country Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ARB,Arab World,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.644218,85.932567,86.232384,86.478597,86.722685,86.937933,87.040774,87.235539,87.307068,NaN
1,ARB,Arab World,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.039588,88.992620,88.015356,88.681886,89.195062,90.324659,88.910749,89.999946,90.277735,NaN
2,ARB,Arab World,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.859225,11.638397,10.297891,6.237703,5.203895,6.480083,8.479070,7.437145,4.376374,NaN
3,ARB,Arab World,NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.032266,0.062625,0.084948,0.099784,0.095056,0.095498,0.051058,0.062195,0.079081,NaN
4,ARB,Arab World,AG.LND.AGRI.ZS,NaN,30.981194,30.982443,31.006834,31.017781,31.042245,31.05018,...,36.484107,36.532755,36.529508,36.565532,36.627752,36.673546,36.659112,36.597936,36.659647,NaN

In [17]:
#Rename 'Country Code' to'country_code', 'Country Name' to 'country_name_wb', and 'Indicator Code' to 'feature'.

wb_ts_df = wb_ts_df.rename({'Country Code': 'country_code',
                            'Country Name':'country_name_wb',
                            'Indicator Code':'feature'},
                            axis=1)
wb_ts_df

,country_code,country_name_wb,feature,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ARB,Arab World,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.644218,85.932567,86.232384,86.478597,86.722685,86.937933,87.040774,87.235539,87.307068,NaN
1,ARB,Arab World,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.039588,88.992620,88.015356,88.681886,89.195062,90.324659,88.910749,89.999946,90.277735,NaN
2,ARB,Arab World,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.859225,11.638397,10.297891,6.237703,5.203895,6.480083,8.479070,7.437145,4.376374,NaN
3,ARB,Arab World,NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.032266,0.062625,0.084948,0.099784,0.095056,0.095498,0.051058,0.062195,0.079081,NaN
4,ARB,Arab World,AG.LND.AGRI.ZS,NaN,30.981194,30.982443,31.006834,31.017781,31.042245,31.05018,...,36.484107,36.532755,36.529508,36.565532,36.627752,36.673546,36.659112,36.597936,36.659647,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16008,ZWE,Zimbabwe,IC.LGL.CRED.XQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,NaN,NaN
16009,ZWE,Zimbabwe,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.214542,27.214585,27.214585,27.214746,27.214746,27.214746
16010,ZWE,Zimbabwe,SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.153000,4.982000,4.770000,4.778000,4.788000,4.785000,4.796000,4.833000,5.351000,5.174000
16011,ZWE,Zimbabwe,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN
16012,ZWE,Zimbabwe,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.471968,-1.386220,-1.256889,-1.166087,-1.178460,-1.195904,-1.140975,-1.164705,-1.113716,-1.136934

In [18]:
#Type noncountries.remove('World') to remove 'World' from the noncountries list. (We want to keep the total world data for now). 
#Then use the .query() method to remove the rows in which 'country_name_wb' is equal to one of the other entries in the noncountries list.

noncountries.remove('World')

In [19]:
wb_ts_df = wb_ts_df.query("country_name_wb != @noncountries")
wb_ts_df

,country_code,country_name_wb,feature,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2211,WLD,World,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.315789,60.417242,61.796860,63.068478,64.299537,65.773618,67.147032,68.457171,69.681839,NaN
2212,WLD,World,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.740710,85.240416,85.648321,86.619520,87.696899,88.594052,89.566532,90.011785,90.521569,NaN
2213,WLD,World,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.999282,1.774908,1.515980,0.817549,0.714896,0.916155,1.239542,1.079196,0.791238,NaN
2214,WLD,World,NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.059747,0.061098,0.068719,0.070765,0.072687,0.069076,0.048353,0.049777,0.058882,NaN
2215,WLD,World,AG.LND.AGRI.ZS,NaN,34.55308,34.618111,34.702027,34.775809,34.871252,34.935279,...,36.629367,36.558281,36.550972,36.360611,36.336393,36.616665,36.498736,36.511307,36.458841,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16008,ZWE,Zimbabwe,IC.LGL.CRED.XQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,NaN,NaN
16009,ZWE,Zimbabwe,ER.PTD.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.214542,27.214585,27.214585,27.214746,27.214746,27.214746
16010,ZWE,Zimbabwe,SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.153000,4.982000,4.770000,4.778000,4.788000,4.785000,4.796000,4.833000,5.351000,5.174000
16011,ZWE,Zimbabwe,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN
16012,ZWE,Zimbabwe,VA.EST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.471968,-1.386220,-1.256889,-1.166087,-1.178460,-1.195904,-1.140975,-1.164705,-1.113716,-1.136934

In [20]:
replace_map = {'AG.LND.AGRI.ZS': 'agricultural_land',
 'AG.LND.FRST.ZS': 'forest_area',
 'AG.PRD.FOOD.XD': 'food_production_index',
 'CC.EST': 'control_of_corruption',
 'EG.CFT.ACCS.ZS': 'access_to_clean_fuels_and_technologies_for_cooking',
 'EG.EGY.PRIM.PP.KD': 'energy_intensity_level_of_primary_energy',
 'EG.ELC.ACCS.ZS': 'access_to_electricity',
 'EG.ELC.COAL.ZS': 'electricity_production_from_coal_sources',
 'EG.ELC.RNEW.ZS': 'renewable_electricity_output',
 'EG.FEC.RNEW.ZS': 'renewable_energy_consumption',
 'EG.IMP.CONS.ZS': 'energy_imports',
 'EG.USE.COMM.FO.ZS': 'fossil_fuel_energy_consumption',
 'EG.USE.PCAP.KG.OE': 'energy_use',
 'EN.ATM.CO2E.PC': 'co2_emissions',
 'EN.ATM.METH.PC': 'methane_emissions',
 'EN.ATM.NOXE.PC': 'nitrous_oxide_emissions',
 'EN.ATM.PM25.MC.M3': 'pm2_5_air_pollution',
 'EN.CLC.CDDY.XD': 'cooling_degree_days',
 'EN.CLC.GHGR.MT.CE': 'ghg_net_emissions',
 'EN.CLC.HEAT.XD': 'heat_index_35',
 'EN.CLC.MDAT.ZS': 'droughts',
 'EN.CLC.PRCP.XD': 'maximum_5-day_rainfall',
 'EN.CLC.SPEI.XD': 'mean_drought_index',
 'EN.MAM.THRD.NO': 'mammal_species',
 'EN.POP.DNST': 'population_density',
 'ER.H2O.FWTL.ZS': 'annual_freshwater_withdrawals',
 'ER.PTD.TOTL.ZS': 'terrestrial_and_marine_protected_areas',
 'GB.XPD.RSDV.GD.ZS': 'research_and_development_expenditure',
 'GE.EST': 'government_effectiveness',
 'IC.BUS.EASE.XQ': 'ease_of_doing_business_rank',
 'IC.LGL.CRED.XQ': 'strength_of_legal_rights_index',
 'IP.JRN.ARTC.SC': 'scientific_and_technical_journal_articles',
 'IP.PAT.RESD': 'patent_applications',
 'IT.NET.USER.ZS': 'individuals_using_the_internet',
 'NV.AGR.TOTL.ZS': 'agriculture',
 'NY.ADJ.DFOR.GN.ZS': 'net_forest_depletion',
 'NY.ADJ.DRES.GN.ZS': 'natural_resources_depletion',
 'NY.GDP.MKTP.KD.ZG': 'gdp_growth',
 'PV.EST': 'political_stability_and_absence_of_violence',
 'RL.EST': 'rule_of_law',
 'RQ.EST': 'regulatory_quality',
 'SE.ADT.LITR.ZS': 'literacy_rate',
 'SE.ENR.PRSC.FM.ZS': 'gross_school_enrollment',
 'SE.PRM.ENRR': 'primary_school_enrollment',
 'SE.XPD.TOTL.GB.ZS': 'government_expenditure_on_education',
 'SG.GEN.PARL.ZS': 'proportion_of_seats_held_by_women_in_national_parliaments',
 'SH.DTH.COMM.ZS': 'cause_of_death',
 'SH.DYN.MORT': 'mortality_rate',
 'SH.H2O.SMDW.ZS': 'people_using_safely_managed_drinking_water_services',
 'SH.MED.BEDS.ZS': 'hospital_beds',
 'SH.STA.OWAD.ZS': 'prevalence_of_overweight',
 'SH.STA.SMSS.ZS': 'people_using_safely_managed_sanitation_services',
 'SI.DST.FRST.20': 'income_share_held_by_lowest_20pct',
 'SI.POV.GINI': 'gini_index',
 'SI.POV.NAHC': 'poverty_headcount_ratio_at_national_poverty_lines',
 'SI.SPR.PCAP.ZG': 'annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income',
 'SL.TLF.0714.ZS': 'children_in_employment',
 'SL.TLF.ACTI.ZS': 'labor_force_participation_rate',
 'SL.TLF.CACT.FM.ZS': 'ratio_of_female_to_male_labor_force_participation_rate',
 'SL.UEM.TOTL.ZS': 'unemployment',
 'SM.POP.NETM': 'net_migration',
 'SN.ITK.DEFC.ZS': 'prevalence_of_undernourishment',
 'SP.DYN.LE00.IN': 'life_expectancy_at_birth',
 'SP.DYN.TFRT.IN': 'fertility_rate',
 'SP.POP.65UP.TO.ZS': 'population_ages_65_and_above',
 'SP.UWT.TFRT': 'unmet_need_for_contraception',
 'VA.EST': 'voice_and_accountability'}

wb_ts_df.feature = wb_ts_df.feature.map(replace_map)
wb_ts_df

/tmp/ipykernel_114/2702446553.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wb_ts_df.feature = wb_ts_df.feature.map(replace_map)

,country_code,country_name_wb,feature,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2211,WLD,World,access_to_clean_fuels_and_technologies_for_coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.315789,60.417242,61.796860,63.068478,64.299537,65.773618,67.147032,68.457171,69.681839,NaN
2212,WLD,World,access_to_electricity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.740710,85.240416,85.648321,86.619520,87.696899,88.594052,89.566532,90.011785,90.521569,NaN
2213,WLD,World,natural_resources_depletion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.999282,1.774908,1.515980,0.817549,0.714896,0.916155,1.239542,1.079196,0.791238,NaN
2214,WLD,World,net_forest_depletion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.059747,0.061098,0.068719,0.070765,0.072687,0.069076,0.048353,0.049777,0.058882,NaN
2215,WLD,World,agricultural_land,NaN,34.55308,34.618111,34.702027,34.775809,34.871252,34.935279,...,36.629367,36.558281,36.550972,36.360611,36.336393,36.616665,36.498736,36.511307,36.458841,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16008,ZWE,Zimbabwe,strength_of_legal_rights_index,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,6.000000,NaN,NaN
16009,ZWE,Zimbabwe,terrestrial_and_marine_protected_areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,27.214542,27.214585,27.214585,27.214746,27.214746,27.214746
16010,ZWE,Zimbabwe,unemployment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.153000,4.982000,4.770000,4.778000,4.788000,4.785000,4.796000,4.833000,5.351000,5.174000
16011,ZWE,Zimbabwe,unmet_need_for_contraception,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.382129,10.400000,NaN,NaN,NaN,NaN,NaN,NaN
16012,ZWE,Zimbabwe,voice_and_accountability,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.471968,-1.386220,-1.256889,-1.166087,-1.178460,-1.195904,-1.140975,-1.164705,-1.113716,-1.136934

## f. 
The World Bank country-time-series dataset is strangely organized. The features are stored in the rows, when typically we would want these features to be columns. Also, years are stored in columns, when typically we would want years to be represented by different rows. We can repair this structure by reshaping the data. Following the discussion in chapter 9 of "Surfing the Data Pipeline with Python", perform the following reshapes:

 - First, turn the columns that refer to years into rows,

 - Then turn the rows that refer to features into columns. [3 points]

In [21]:
wb_ts_df = pd.melt(wb_ts_df, id_vars = ['country_code', 'country_name_wb', 'feature'], 
       value_vars = [str(i) for i in range(1960, 2022)], var_name = 'year')
wb_ts_df

,country_code,country_name_wb,feature,year,value
0,WLD,World,access_to_clean_fuels_and_technologies_for_coo...,1960,NaN
1,WLD,World,access_to_electricity,1960,NaN
2,WLD,World,natural_resources_depletion,1960,NaN
3,WLD,World,net_forest_depletion,1960,NaN
4,WLD,World,agricultural_land,1960,NaN
...,...,...,...,...,...
805871,ZWE,Zimbabwe,strength_of_legal_rights_index,2021,NaN
805872,ZWE,Zimbabwe,terrestrial_and_marine_protected_areas,2021,27.214746
805873,ZWE,Zimbabwe,unemployment,2021,5.174000
805874,ZWE,Zimbabwe,unmet_need_for_contraception,2021,NaN
805875,ZWE,Zimbabwe,voice_and_accountability,2021,-1.136934

In [22]:
wb_ts_df = wb_ts_df.pivot_table(index = ['country_code', 'country_name_wb', 'year'],
                                columns = 'feature',
                                values = 'value')
wb_ts_df

feature                            access_to_clean_fuels_and_technologies_for_cooking  \
country_code country_name_wb year
AFG          Afghanistan     1960                                                NaN
                             1961                                                NaN
                             1962                                                NaN
                             1963                                                NaN
                             1964                                                NaN
...                                                                              ...
ZWE          Zimbabwe        2017                                               29.8
                             2018                                               29.9
                             2019                                               30.1
                             2020                                               30.4
                             2021                                                NaN

feature                            access_to_electricity  agricultural_land  \
country_code country_name_wb year
AFG          Afghanistan     1960                    NaN                NaN
                             1961                    NaN          57.801696
                             1962                    NaN          57.893688
                             1963                    NaN          57.970348
                             1964                    NaN          58.066940
...                                                  ...                ...
ZWE          Zimbabwe        2017              44.178635          41.876696
                             2018              45.572647          41.876696
                             2019              46.781475          41.876696
                             2020              52.747669          41.876696
                             2021                    NaN                NaN

feature                            agriculture  annual_freshwater_withdrawals  \
country_code country_name_wb year
AFG          Afghanistan     1960          NaN                            NaN
                             1961          NaN                            NaN
                             1962          NaN                            NaN
                             1963          NaN                            NaN
                             1964          NaN                            NaN
...                                        ...                            ...
ZWE          Zimbabwe        2017     8.340969                      27.234910
                             2018    10.520955                      30.761664
                             2019    10.143657                            NaN
                             2020     7.607101                            NaN
                             2021          NaN                            NaN

feature                            annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income  \
country_code country_name_wb year
AFG          Afghanistan     1960                                                NaN
                             1961                                                NaN
                             1962                                                NaN
                             1963                                                NaN
                             1964                                                NaN
...                                                                              ...
ZWE          Zimbabwe        2017                                               -3.5
                             2018                                                NaN
                             2019                                                NaN
                             2020                                                NaN
                             2021                                                NaN

feature                            cause_of_death  children_in_employment  \
country_code country_name_wb year
AFG          Afghanistan     1960             NaN                     NaN
                             1961             NaN                     NaN
                             1962             NaN                     NaN
                             1963             NaN                     NaN
                             1964             NaN                     NaN
...                                           ...                     ...
ZWE          Zimbabwe        2017             NaN                     NaN
                             2018             NaN                     NaN
                             2019       47.647301                     NaN
                             2020             NaN                     NaN
                             2021             NaN                     NaN

feature                            co2_emissions  control_of_corruption  ...  \
country_code country_name_wb year                                        ...
AFG          Afghanistan     1960            NaN                    NaN  ...
                             1961            NaN                    NaN  ...
                             1962            NaN                    NaN  ...
                             1963            NaN                    NaN  ...
                             1964            NaN                    NaN  ...
...                                          ...                    ...  ...
ZWE          Zimbabwe        2017       0.726297              -1.281081  ...
                             2018       0.857411              -1.227581  ...
                             2019       0.802979              -1.273280  ...
                             2020            NaN              -1.289440  ...
                             2021            NaN              -1.257897  ...

feature                            renewable_electricity_output  \
country_code country_name_wb year
AFG          Afghanistan     1960                           NaN
                             1961                           NaN
                             1962                           NaN
                             1963                           NaN
                             1964                           NaN
...                                                         ...
ZWE          Zimbabwe        2017                           NaN
                             2018                           NaN
                             2019                           NaN
                             2020                           NaN
                             2021                           NaN

feature                            renewable_energy_consumption  \
country_code country_name_wb year
AFG          Afghanistan     1960                           NaN
                             1961                           NaN
                             1962                           NaN
                             1963                           NaN
                             1964                           NaN
...                                                         ...
ZWE          Zimbabwe        2017                         82.46
                             2018                         80.23
                             2019                         81.50
                             2020                           NaN
                             2021                           NaN

feature                            research_and_development_expenditure  \
country_code country_name_wb year
AFG          Afghanistan     1960                                   NaN
                             1961                                   NaN
                             1962                                   NaN
                             1963                                   NaN
                             1964                                   NaN
...                                                                 ...
ZWE          Zimbabwe        2017                                   NaN
                             2018                                   NaN
                             2019                                   NaN
                             2020                                   NaN
                             2021                                   NaN

feature                            rule_of_law  \
country_code country_name_wb year
AFG          Afghanistan     1960          NaN
                             1961          NaN
                             1962          NaN
                             1963          NaN
                             1964          NaN
...                                        ...
ZWE          Zimbabwe        2017    -1.385256
                             2018    -1.278995
                             2019    -1.292071
                             2020    -1.307897
                             2021    -1.260689

feature                            scientific_and_technical_journal_articles  \
country_code country_name_wb year
AFG          Afghanistan     1960                                        NaN
                             1961                                        NaN
                             1962                                        NaN
                             1963                                        NaN
                             1964                                        NaN
...                                                                      ...
ZWE          Zimbabwe        2017                                     340.45
                             2018                                     359.33
                             2019                                        NaN
                             2020                                        NaN
                             2021                                        NaN

feature                            strength_of_legal_rights_index  \
country_code country_name_wb year
AFG          Afghanistan     1960                             NaN
                             1961                             NaN
                             1962                             NaN
                             1963                             NaN
                             1964                             NaN
...                                                           ...
ZWE          Zimbabwe        2017                             5.0
                             2018                             5.0
                             2019                             6.0
                             2020                             NaN
                             2021                             NaN

feature                            terrestrial_and_marine_protected_areas  \
country_code country_name_wb year
AFG          Afghanistan     1960                                     NaN
                             1961                                     NaN
                             1962                                     NaN
                             1963                                     NaN
                             1964                                     NaN
...                                                                   ...
ZWE          Zimbabwe        2017                               27.214585
                             2018                               27.214585
                             2019                               27.214746
                             2020                               27.214746
                             2021                               27.214746

feature                            unemployment  unmet_need_for_contraception  \
country_code country_name_wb year
AFG          Afghanistan     1960           NaN                           NaN
                             1961           NaN                           NaN
                             1962           NaN                           NaN
                             1963           NaN                           NaN
                             1964           NaN                           NaN
...                                         ...                           ...
ZWE          Zimbabwe        2017         4.785                           NaN
                             2018         4.796                           NaN
                             2019         4.833                           NaN
                             2020         5.351                           NaN
                             2021         5.174                           NaN

feature                            voice_and_accountability
country_code country_name_wb year
AFG          Afghanistan     1960                       NaN
                             1961                       NaN
                             1962                       NaN
                             1963                       NaN
                             1964                       NaN
...                                                     ...
ZWE          Zimbabwe        2017                 -1.195904
                             2018                 -1.140975
                             2019                 -1.164705
                             2020                 -1.113716
                             2021                 -1.136934

[12022 rows x 63 columns]

In [23]:
wb_ts_df = pd.DataFrame(wb_ts_df.to_records())
wb_ts_df

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,renewable_electricity_output,renewable_energy_consumption,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability
0,AFG,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1961,NaN,NaN,57.801696,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1962,NaN,NaN,57.893688,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1963,NaN,NaN,57.970348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1964,NaN,NaN,58.066940,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12017,ZWE,Zimbabwe,2017,29.8,44.178635,41.876696,8.340969,27.234910,-3.5,NaN,...,NaN,82.46,NaN,-1.385256,340.45,5.0,27.214585,4.785,NaN,-1.195904
12018,ZWE,Zimbabwe,2018,29.9,45.572647,41.876696,10.520955,30.761664,NaN,NaN,...,NaN,80.23,NaN,-1.278995,359.33,5.0,27.214585,4.796,NaN,-1.140975
12019,ZWE,Zimbabwe,2019,30.1,46.781475,41.876696,10.143657,NaN,NaN,47.647301,...,NaN,81.50,NaN,-1.292071,NaN,6.0,27.214746,4.833,NaN,-1.164705
12020,ZWE,Zimbabwe,2020,30.4,52.747669,41.876696,7.607101,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.307897,NaN,NaN,27.214746,5.351,NaN,-1.113716
12021,ZWE,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.260689,NaN,NaN,27.214746,5.174,NaN,-1.136934

## g.
After these reshapes, the year column in the World Bank country-time-series dataset is stored as a string. Convert this column to an integer data type. [1 point]

In [24]:
wb_ts_df['year'] = wb_ts_df['year'].astype(int)
wb_ts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12022 entries, 0 to 12021
Data columns (total 66 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   country_code                                                                         12022 non-null  object
 1   country_name_wb                                                                      12022 non-null  object
 2   year                                                                                 12022 non-null  int64
 3   access_to_clean_fuels_and_technologies_for_cooking                                   4007 non-null   float64
 4   access_to_electricity                                                                5226 non-null   float64
 5   agricultural_land                                                                    11458 non-null  float64
 6   agriculture                                                                          7972 non-null   float64
 7   annual_freshwater_withdrawals                                                        1311 non-null   float64
 8   annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income  118 non-null    float64
 9   cause_of_death                                                                       736 non-null    float64
 10  children_in_employment                                                               281 non-null    float64
 11  co2_emissions                                                                        5734 non-null   float64
 12  control_of_corruption                                                                4320 non-null   float64
 13  droughts                                                                             165 non-null    float64
 14  ease_of_doing_business_rank                                                          185 non-null    float64
 15  electricity_production_from_coal_sources                                             5932 non-null   float64
 16  energy_imports                                                                       5835 non-null   float64
 17  energy_intensity_level_of_primary_energy                                             3748 non-null   float64
 18  energy_use                                                                           5967 non-null   float64
 19  fertility_rate                                                                       11207 non-null  float64
 20  food_production_index                                                                10342 non-null  float64
 21  forest_area                                                                          5896 non-null   float64
 22  fossil_fuel_energy_consumption                                                       5829 non-null   float64
 23  gdp_growth                                                                           9283 non-null   float64
 24  ghg_net_emissions                                                                    941 non-null    float64
 25  gini_index                                                                           1818 non-null   float64
 26  government_effectiveness                                                             4301 non-null   float64
 27  government_expenditure_on_education                                                  3352 non-null   float64
 28  gross_school_enrollment                                                              5532 non-null   float64
 29  hospital_beds                                                                        3895 non-null   float64
 30  income_share_held_by_lowest_20pct                                                    1814 non-null   float64
 31  individuals_using_the_internet                                                       5809 non-null   float64
 32  labor_force_participation_rate                                                       5370 non-null   float64
 33  life_expectancy_at_birth                                                             11206 non-null  float64
 34  literacy_rate                                                                        973 non-null    float64
 35  mammal_species                                                                       194 non-null    float64
 36  methane_emissions                                                                    5757 non-null   float64
 37  mortality_rate                                                                       10746 non-null  float64
 38  natural_resources_depletion                                                          7193 non-null   float64
 39  net_forest_depletion                                                                 7550 non-null   float64
 40  net_migration                                                                        2208 non-null   float64
 41  nitrous_oxide_emissions                                                              5727 non-null   float64
 42  patent_applications                                                                  3716 non-null   float64
 43  people_using_safely_managed_drinking_water_services                                  2423 non-null   float64
 44  people_using_safely_managed_sanitation_services                                      2515 non-null   float64
 45  pm2_5_air_pollution                                                                  2244 non-null   float64
 46  political_stability_and_absence_of_violence                                          4378 non-null   float64
 47  population_ages_65_and_above                                                         11215 non-null  float64
 48  population_density                                                                   10622 non-null  float64
 49  poverty_headcount_ratio_at_national_poverty_lines                                    1071 non-null   float64
 50  prevalence_of_overweight                                                             7938 non-null   float64
 51  prevalence_of_undernourishment                                                       3160 non-null   float64
 52  primary_school_enrollment                                                            7460 non-null   float64
 53  proportion_of_seats_held_by_women_in_national_parliaments                            4544 non-null   float64
 54  ratio_of_female_to_male_labor_force_participation_rate                               5728 non-null   float64
 55  regulatory_quality                                                                   4304 non-null   float64
 56  renewable_electricity_output                                                         5048 non-null   float64
 57  renewable_energy_consumption                                                         5665 non-null   float64
 58  research_and_development_expenditure                                                 2091 non-null   float64
 59  rule_of_law                                                                          4410 non-null   float64
 60  scientific_and_technical_journal_articles                                            3686 non-null   float64
 61  strength_of_legal_rights_index                                                       1302 non-null   float64
 62  terrestrial_and_marine_protected_areas                                               1144 non-null   float64
 63  unemployment                                                                         5549 non-null   float64
 64  unmet_need_for_contraception                                                         658 non-null    float64
 65  voice_and_accountability                                                             4426 non-null   float64
dtypes: float64(63), int64(1), object(2)
memory usage: 6.1+ MB

## h. 
Create a new dataframe containing just the rows from the World Bank country-time-series dataset that refer to the whole world. Then remove the "World" rows from the World Bank country-time-series dataset. Drop the 'country_code' and 'country_name_wb' from the world dataset. Finally, with the exception of the year column, rename all columns in the world dataset by adding "world_" in front of the column name. [2 points]

In [25]:
world_ts = wb_ts_df.copy()
world_ts = world_ts.query("country_name_wb == 'World'")
world_ts

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,renewable_electricity_output,renewable_energy_consumption,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability
11650,WLD,World,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11651,WLD,World,1961,NaN,NaN,34.553080,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11652,WLD,World,1962,NaN,NaN,34.618111,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11653,WLD,World,1963,NaN,NaN,34.702027,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11654,WLD,World,1964,NaN,NaN,34.775809,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,WLD,World,2017,65.773618,88.594052,36.616665,4.139864,9.241538,NaN,NaN,...,NaN,NaN,2.133745,NaN,2.464402e+06,5.347368,14.339432,5.557650,NaN,NaN
11708,WLD,World,2018,67.147032,89.566532,36.498736,3.941813,9.250457,NaN,NaN,...,NaN,NaN,2.196333,NaN,2.554319e+06,5.507853,14.339452,5.389680,NaN,NaN
11709,WLD,World,2019,68.457171,90.011785,36.511307,4.007295,NaN,NaN,18.40885,...,NaN,NaN,2.331913,NaN,NaN,5.685864,NaN,5.356915,NaN,NaN
11710,WLD,World,2020,69.681839,90.521569,36.458841,4.385748,NaN,NaN,NaN,...,NaN,NaN,2.625844,NaN,NaN,NaN,NaN,6.573234,NaN,NaN
11711,WLD,World,2021,NaN,NaN,NaN,4.334466,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.178060,NaN,NaN

In [26]:
wb_ts_df = wb_ts_df.query("country_name_wb != 'World'")
wb_ts_df

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,renewable_electricity_output,renewable_energy_consumption,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability
0,AFG,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1961,NaN,NaN,57.801696,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1962,NaN,NaN,57.893688,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1963,NaN,NaN,57.970348,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1964,NaN,NaN,58.066940,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12017,ZWE,Zimbabwe,2017,29.8,44.178635,41.876696,8.340969,27.234910,-3.5,NaN,...,NaN,82.46,NaN,-1.385256,340.45,5.0,27.214585,4.785,NaN,-1.195904
12018,ZWE,Zimbabwe,2018,29.9,45.572647,41.876696,10.520955,30.761664,NaN,NaN,...,NaN,80.23,NaN,-1.278995,359.33,5.0,27.214585,4.796,NaN,-1.140975
12019,ZWE,Zimbabwe,2019,30.1,46.781475,41.876696,10.143657,NaN,NaN,47.647301,...,NaN,81.50,NaN,-1.292071,NaN,6.0,27.214746,4.833,NaN,-1.164705
12020,ZWE,Zimbabwe,2020,30.4,52.747669,41.876696,7.607101,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.307897,NaN,NaN,27.214746,5.351,NaN,-1.113716
12021,ZWE,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-1.260689,NaN,NaN,27.214746,5.174,NaN,-1.136934

In [27]:
world_ts = world_ts.drop(['country_code', 'country_name_wb'], axis = 1)
world_ts.columns = ['year'] + ['world_' + str(col) for col in world_ts.columns if col != 'year']
world_ts

,year,world_access_to_clean_fuels_and_technologies_for_cooking,world_access_to_electricity,world_agricultural_land,world_agriculture,world_annual_freshwater_withdrawals,world_annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,world_cause_of_death,world_children_in_employment,world_co2_emissions,...,world_renewable_electricity_output,world_renewable_energy_consumption,world_research_and_development_expenditure,world_rule_of_law,world_scientific_and_technical_journal_articles,world_strength_of_legal_rights_index,world_terrestrial_and_marine_protected_areas,world_unemployment,world_unmet_need_for_contraception,world_voice_and_accountability
11650,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11651,1961,NaN,NaN,34.553080,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11652,1962,NaN,NaN,34.618111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11653,1963,NaN,NaN,34.702027,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11654,1964,NaN,NaN,34.775809,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11707,2017,65.773618,88.594052,36.616665,4.139864,9.241538,NaN,NaN,NaN,4.457093,...,NaN,NaN,2.133745,NaN,2.464402e+06,5.347368,14.339432,5.557650,NaN,NaN
11708,2018,67.147032,89.566532,36.498736,3.941813,9.250457,NaN,NaN,NaN,4.510145,...,NaN,NaN,2.196333,NaN,2.554319e+06,5.507853,14.339452,5.389680,NaN,NaN
11709,2019,68.457171,90.011785,36.511307,4.007295,NaN,NaN,18.40885,NaN,4.469660,...,NaN,NaN,2.331913,NaN,NaN,5.685864,NaN,5.356915,NaN,NaN
11710,2020,69.681839,90.521569,36.458841,4.385748,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.625844,NaN,NaN,NaN,NaN,6.573234,NaN,NaN
11711,2021,NaN,NaN,NaN,4.334466,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.178060,NaN,NaN

## i. 
Next we will merge the World Bank country-time-series dataset with the V-Dem dataset, matching on the 'country_code' and 'year' columns. First, write a sentence stating whether you expect this merge to be one-to-one, many-to-one, one-to-many, or many-to-many, and describe your rationale. Second, merge the two datasets together in a way that checks whether your expectation is met, and also allows you to see the rows that failed to match. [3 points]

Ans: I expect the merge to be one-to-one, as v-dem is also time series and both contain country code and the years 1960-2021.

In [28]:
v_dem_df.query("country_code == 'MEX'")

    country_code country_name_vdem  year  democracy
171          MEX            Mexico  1960      0.231
172          MEX            Mexico  1961      0.232
173          MEX            Mexico  1962      0.234
174          MEX            Mexico  1963      0.234
175          MEX            Mexico  1964      0.234
..           ...               ...   ...        ...
228          MEX            Mexico  2017      0.630
229          MEX            Mexico  2018      0.674
230          MEX            Mexico  2019      0.669
231          MEX            Mexico  2020      0.647
232          MEX            Mexico  2021      0.628

[62 rows x 4 columns]

In [29]:
wb_ts_df.query("country_code == 'MEX'")

,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,renewable_electricity_output,renewable_energy_consumption,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability
6879,MEX,Mexico,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6880,MEX,Mexico,1961,NaN,NaN,50.575375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6881,MEX,Mexico,1962,NaN,NaN,50.504900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6882,MEX,Mexico,1963,NaN,NaN,50.468891,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6883,MEX,Mexico,1964,NaN,NaN,50.438026,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6936,MEX,Mexico,2017,84.8,100.000000,49.870624,3.381074,21.476773,NaN,NaN,...,NaN,9.99,0.32832,-0.569109,16004.90,10.0,19.056240,3.420,NaN,-0.077817
6937,MEX,Mexico,2018,84.8,99.500000,49.649425,3.383800,21.721271,NaN,NaN,...,NaN,10.03,0.30711,-0.626365,16345.64,10.0,19.056240,3.280,10.8,-0.016886
6938,MEX,Mexico,2019,84.9,99.599998,49.438514,3.394313,NaN,NaN,9.093437,...,NaN,10.34,0.28384,-0.646011,NaN,10.0,18.909851,3.480,NaN,0.007819
6939,MEX,Mexico,2020,84.9,99.400002,49.969392,3.798496,NaN,-0.68,NaN,...,NaN,NaN,0.30096,-0.647769,NaN,NaN,18.909849,4.450,NaN,-0.025030
6940,MEX,Mexico,2021,NaN,NaN,NaN,3.843994,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.799713,NaN,NaN,18.909849,4.379,NaN,-0.074187

In [30]:
v_dem_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10371 entries, 171 to 25980
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country_code       10371 non-null  object
 1   country_name_vdem  10371 non-null  object
 2   year               10371 non-null  int64
 3   democracy          10369 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 405.1+ KB

In [31]:
country_ts = pd.merge(v_dem_df, wb_ts_df,
                        on = ['country_code', 'year'],
                        how = 'outer',
                        validate = 'one_to_one',
                        indicator = 'matched')

## j.
After this merge, use the .value_counts() method to see the total numnber of observations that were found in both datasets, the number found only in the left dataset, and the number found only in the right dataset. (If you entered the World Bank dataset into the merge function first, then "left_only" refers to the rows found in the World Bank but not V-Dem, and "right_only refers to the rows found in V-Dem but not the World Bank.) There should be more than 9000 rows that matched, but more than 2000 that failed to match.

Then conduct two data aggregations to help us investigate why these observations did not match:

- First use .query() to keep only the observations that were present in the World Bank data but not V-Dem. (These are the 'left_only' observations if you typed the World Bank data into the merge function first.) Use .groupby() to aggregate the data by 'country_code' and 'country_name_wb'. Then save the minimum and maximum values of 'year' for each country.

- Then use .query() to keep only the observations that were present in the V-Dem data but not the World Bank. Use .groupby() to aggregate the data by 'country_code' and 'country_name_vdem'. Then save the minimum and maximum values of 'year' for each country. [3 points]

In [32]:
country_ts['matched'].value_counts()

both          9976
right_only    1984
left_only      395
Name: matched, dtype: int64

In [33]:
wb_mins = country_ts.query("matched == 'right_only'")[['year', 'country_code', 'country_name_wb']].groupby(['country_code', 'country_name_wb']).agg({'year': 'min'})
wb_mins

                                             year
country_code country_name_wb
AND          Andorra                         1961
ARE          United Arab Emirates            1960
ARM          Armenia                         1960
ATG          Antigua and Barbuda             1960
AZE          Azerbaijan                      1960
BGD          Bangladesh                      1960
BHS          Bahamas, The                    1960
BIH          Bosnia and Herzegovina          1960
BLR          Belarus                         1960
BLZ          Belize                          1960
BRN          Brunei Darussalam               1960
CMR          Cameroon                        1960
DMA          Dominica                        1960
EST          Estonia                         1960
FSM          Micronesia, Fed. Sts.           1960
GEO          Georgia                         1960
GRD          Grenada                         1960
HRV          Croatia                         1960
KAZ          Kazakhstan                      1960
KGZ          Kyrgyz Republic                 1960
KIR          Kiribati                        1960
KNA          St. Kitts and Nevis             1960
LCA          St. Lucia                       1960
LIE          Liechtenstein                   1961
LTU          Lithuania                       1960
LVA          Latvia                          1960
MCO          Monaco                          1961
MDA          Moldova                         1960
MHL          Marshall Islands                1960
MKD          North Macedonia                 1960
MNE          Montenegro                      1960
NRU          Nauru                           1961
PLW          Palau                           1961
SMR          San Marino                      1961
SSD          South Sudan                     1960
SVK          Slovak Republic                 1960
SVN          Slovenia                        1960
TJK          Tajikistan                      1960
TKM          Turkmenistan                    1960
TON          Tonga                           1960
TUV          Tuvalu                          1960
UKR          Ukraine                         1960
UZB          Uzbekistan                      1960
VCT          St. Vincent and the Grenadines  1960
WSM          Samoa                           1960

In [34]:
wb_maxes = country_ts.query("matched == 'right_only'")[['year', 'country_code', 'country_name_wb']].groupby(['country_code', 'country_name_wb']).agg({'year': 'max'})
wb_maxes

                                             year
country_code country_name_wb
AND          Andorra                         2021
ARE          United Arab Emirates            1970
ARM          Armenia                         1989
ATG          Antigua and Barbuda             2021
AZE          Azerbaijan                      1989
BGD          Bangladesh                      1970
BHS          Bahamas, The                    2021
BIH          Bosnia and Herzegovina          1991
BLR          Belarus                         1989
BLZ          Belize                          2021
BRN          Brunei Darussalam               2021
CMR          Cameroon                        1960
DMA          Dominica                        2021
EST          Estonia                         1989
FSM          Micronesia, Fed. Sts.           2021
GEO          Georgia                         1989
GRD          Grenada                         2021
HRV          Croatia                         1990
KAZ          Kazakhstan                      1989
KGZ          Kyrgyz Republic                 1989
KIR          Kiribati                        2021
KNA          St. Kitts and Nevis             2021
LCA          St. Lucia                       2021
LIE          Liechtenstein                   2021
LTU          Lithuania                       1989
LVA          Latvia                          1989
MCO          Monaco                          2021
MDA          Moldova                         1989
MHL          Marshall Islands                2021
MKD          North Macedonia                 1990
MNE          Montenegro                      1997
NRU          Nauru                           2021
PLW          Palau                           2021
SMR          San Marino                      2021
SSD          South Sudan                     2010
SVK          Slovak Republic                 1992
SVN          Slovenia                        1988
TJK          Tajikistan                      1989
TKM          Turkmenistan                    1989
TON          Tonga                           2021
TUV          Tuvalu                          2021
UKR          Ukraine                         1989
UZB          Uzbekistan                      1989
VCT          St. Vincent and the Grenadines  2021
WSM          Samoa                           2021

In [35]:
v_dem_mins = country_ts.query("matched == 'left_only'")[['year', 'country_code', 'country_name_vdem']].groupby(['country_code', 'country_name_vdem']).agg({'year': 'min'})
v_dem_mins

                                         year
country_code country_name_vdem
DDR          German Democratic Republic  1960
HKG          Hong Kong                   1960
PSE          Palestine/West Bank         1967
PSG          Palestine/Gaza              1960
SML          Somaliland                  1991
TWN          Taiwan                      1960
VDR          Republic of Vietnam         1960
XKX          Kosovo                      1999
YMD          South Yemen                 1960
ZZB          Zanzibar                    1960

In [36]:
v_dem_maxes = country_ts.query("matched == 'left_only'")[['year', 'country_code', 'country_name_vdem']].groupby(['country_code', 'country_name_vdem']).agg({'year': 'max'})
v_dem_maxes

                                         year
country_code country_name_vdem
DDR          German Democratic Republic  1990
HKG          Hong Kong                   2021
PSE          Palestine/West Bank         2021
PSG          Palestine/Gaza              2021
SML          Somaliland                  2021
TWN          Taiwan                      2021
VDR          Republic of Vietnam         1975
XKX          Kosovo                      2021
YMD          South Yemen                 1990
ZZB          Zanzibar                    2021

In [37]:
wb_minmax= pd.merge(wb_mins, wb_maxes,
                        on = ['country_code', 'country_name_wb'],
                        how = 'outer')
wb_minmax

                                             year_x  year_y
country_code country_name_wb
AND          Andorra                           1961    2021
ARE          United Arab Emirates              1960    1970
ARM          Armenia                           1960    1989
ATG          Antigua and Barbuda               1960    2021
AZE          Azerbaijan                        1960    1989
BGD          Bangladesh                        1960    1970
BHS          Bahamas, The                      1960    2021
BIH          Bosnia and Herzegovina            1960    1991
BLR          Belarus                           1960    1989
BLZ          Belize                            1960    2021
BRN          Brunei Darussalam                 1960    2021
CMR          Cameroon                          1960    1960
DMA          Dominica                          1960    2021
EST          Estonia                           1960    1989
FSM          Micronesia, Fed. Sts.             1960    2021
GEO          Georgia                           1960    1989
GRD          Grenada                           1960    2021
HRV          Croatia                           1960    1990
KAZ          Kazakhstan                        1960    1989
KGZ          Kyrgyz Republic                   1960    1989
KIR          Kiribati                          1960    2021
KNA          St. Kitts and Nevis               1960    2021
LCA          St. Lucia                         1960    2021
LIE          Liechtenstein                     1961    2021
LTU          Lithuania                         1960    1989
LVA          Latvia                            1960    1989
MCO          Monaco                            1961    2021
MDA          Moldova                           1960    1989
MHL          Marshall Islands                  1960    2021
MKD          North Macedonia                   1960    1990
MNE          Montenegro                        1960    1997
NRU          Nauru                             1961    2021
PLW          Palau                             1961    2021
SMR          San Marino                        1961    2021
SSD          South Sudan                       1960    2010
SVK          Slovak Republic                   1960    1992
SVN          Slovenia                          1960    1988
TJK          Tajikistan                        1960    1989
TKM          Turkmenistan                      1960    1989
TON          Tonga                             1960    2021
TUV          Tuvalu                            1960    2021
UKR          Ukraine                           1960    1989
UZB          Uzbekistan                        1960    1989
VCT          St. Vincent and the Grenadines    1960    2021
WSM          Samoa                             1960    2021

In [38]:
vdem_minmax= pd.merge(v_dem_mins, v_dem_maxes,
                        on = ['country_code', 'country_name_vdem'],
                        how = 'outer')
vdem_minmax

                                         year_x  year_y
country_code country_name_vdem
DDR          German Democratic Republic    1960    1990
HKG          Hong Kong                     1960    2021
PSE          Palestine/West Bank           1967    2021
PSG          Palestine/Gaza                1960    2021
SML          Somaliland                    1991    2021
TWN          Taiwan                        1960    2021
VDR          Republic of Vietnam           1960    1975
XKX          Kosovo                        1999    2021
YMD          South Yemen                   1960    1990
ZZB          Zanzibar                      1960    2021

k. Here's where a deep understanding of the data becomes very important. There are two reasons why an observation may fail to match in a merge. One reason is a difference in spelling. Suppose that South Korea (which is also known as the Republic of Korea) is coded as SKO in the World Bank data and ROK in V-Dem. In this case, we should recode one or the other of SKO and ROK so that they match, otherwise we will lose the data on South Korea. But the second reason why observations might fail to match is due to differences in coverage in the data collection strategy: it is possible that a country wasn't included in one data's coverage, or that certain years for that country were not included. For differences in coverage, there's no way to manipulate the data to match, so we are out of luck and we have to either delete these observations or proceed with missing data from one of the data sources.

Take a close look at the two data aggregation tables you generated in part (j), and answer the following questions:

- Do you see any countries that are present in both the unmatched World Bank rows and the unmatched V-Dem rows, but with different spellings?

- Do some digging on Wikipedia and other sources on the Internet. What do you think is the primary reason why some countries are present in the V-Dem data but not the World Bank? (You don't need to describe the reasoning for every country. Just dig until you see a general pattern and describe it here.)

- Do some more digging on Wikipedia and other sources on the Internet. What do you think is the primary reason why some countries are present in the World Bank data but not V-Dem? (You don't need to describe the reasoning for every country. Just dig until you see a general pattern and describe it here.) [3 points]

**Ans**

- I don't see any countries with mismatched spelling.

- V-Dem seems to include states that are not nationally recognized or have ceased to exist. For example, Somaliland is considered nationally to be part of Somalia and Kosovo is only a partially recognized state. This is probably why the World Bank does not collect data on these countries, but V-Dem has decided to. 

- Many of the countries in the World Bank dataset, but not in the V-Dem dataset, are former Soviet states, smaller countries/microstates like Monaco or Andorra, or countries that came into existence between 1960 and 2021 like South Sudan or St. Vincent and the Grenadines.

## l. 
Once you are convinced that all of the unmatched observations are due to differences in the coverage of the data collection strategies of the World Bank and V-Dem, repeat the merge, this time dropping all unmatched observations. This time there is no need to validate the type of merge, and no need to define a variable to indicate matching. [1 point]

In [39]:
country_ts = pd.merge(v_dem_df, wb_ts_df,
                        on = ['country_code', 'year'],
                        how = 'inner')
country_ts

,country_code,country_name_vdem,year,democracy,country_name_wb,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,...,renewable_electricity_output,renewable_energy_consumption,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,unemployment,unmet_need_for_contraception,voice_and_accountability
0,MEX,Mexico,1960,0.231,Mexico,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MEX,Mexico,1961,0.232,Mexico,NaN,NaN,50.575375,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MEX,Mexico,1962,0.234,Mexico,NaN,NaN,50.504900,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MEX,Mexico,1963,0.234,Mexico,NaN,NaN,50.468891,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MEX,Mexico,1964,0.234,Mexico,NaN,NaN,50.438026,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9971,HUN,Hungary,2017,0.560,Hungary,100.0,100.0,58.108700,3.753567,74.983333,...,NaN,14.54,1.31680,0.559209,6645.69,9.0,22.597558,4.160,NaN,0.536953
9972,HUN,Hungary,2018,0.483,Hungary,100.0,100.0,58.031996,3.485912,73.833333,...,NaN,13.58,1.50755,0.578446,6700.92,9.0,22.597558,3.710,NaN,0.478424
9973,HUN,Hungary,2019,0.460,Hungary,100.0,100.0,57.834758,3.342482,NaN,...,NaN,13.64,1.47736,0.521551,NaN,9.0,22.598783,3.420,NaN,0.343969
9974,HUN,Hungary,2020,0.462,Hungary,100.0,100.0,53.725619,3.380822,NaN,...,NaN,NaN,1.60766,0.508961,NaN,NaN,22.597372,4.250,NaN,0.391829
9975,HUN,Hungary,2021,0.462,Hungary,NaN,NaN,NaN,3.322535,NaN,...,NaN,NaN,NaN,0.530844,NaN,NaN,22.600958,4.116,NaN,0.404060

# (3) 
After working through all of the data wrangling steps in problem 2, you now have the following data frames:

The World Bank's country level indicators (we'll call this table "country")

The World Bank's indicators for the whole world through the 1960-2021 timeframe (we'll call this table "world")

The merged data frame containing both the World Bank's and V-Dem's country-time-series data (we'll call this table "timeseries")

Do these three tables together comprise a third normal form database? Write a paragraph that describes your reasoning, and be clear about whether the criteria or 1st, 2nd, and 3rd normal forms have been achieved. If the data are not in 3rd normal form, take steps to put the data in 3rd normal form. (Hint: it's not important to keep the country names from both the World Bank and V-Dem. If one of these names is stored in one of the tables, that works.) [4 points]

In [40]:
country = esg_country_df
country.columns

Index(['country_code', 'country_name_wb', 'country_longname', 'currency_unit',
       'region', 'income_group'],
      dtype='object')

In [41]:
world = world_ts
world.columns

Index(['year', 'world_access_to_clean_fuels_and_technologies_for_cooking',
       'world_access_to_electricity', 'world_agricultural_land',
       'world_agriculture', 'world_annual_freshwater_withdrawals',
       'world_annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income',
       'world_cause_of_death', 'world_children_in_employment',
       'world_co2_emissions', 'world_control_of_corruption', 'world_droughts',
       'world_ease_of_doing_business_rank',
       'world_electricity_production_from_coal_sources',
       'world_energy_imports',
       'world_energy_intensity_level_of_primary_energy', 'world_energy_use',
       'world_fertility_rate', 'world_food_production_index',
       'world_forest_area', 'world_fossil_fuel_energy_consumption',
       'world_gdp_growth', 'world_ghg_net_emissions', 'world_gini_index',
       'world_government_effectiveness',
       'world_government_expenditure_on_education',
       'world_gross_school_enrollment', 'world_hospital_beds',
       'world_income_share_held_by_lowest_20pct',
       'world_individuals_using_the_internet',
       'world_labor_force_participation_rate',
       'world_life_expectancy_at_birth', 'world_literacy_rate',
       'world_mammal_species', 'world_methane_emissions',
       'world_mortality_rate', 'world_natural_resources_depletion',
       'world_net_forest_depletion', 'world_net_migration',
       'world_nitrous_oxide_emissions', 'world_patent_applications',
       'world_people_using_safely_managed_drinking_water_services',
       'world_people_using_safely_managed_sanitation_services',
       'world_pm2_5_air_pollution',
       'world_political_stability_and_absence_of_violence',
       'world_population_ages_65_and_above', 'world_population_density',
       'world_poverty_headcount_ratio_at_national_poverty_lines',
       'world_prevalence_of_overweight',
       'world_prevalence_of_undernourishment',
       'world_primary_school_enrollment',
       'world_proportion_of_seats_held_by_women_in_national_parliaments',
       'world_ratio_of_female_to_male_labor_force_participation_rate',
       'world_regulatory_quality', 'world_renewable_electricity_output',
       'world_renewable_energy_consumption',
       'world_research_and_development_expenditure', 'world_rule_of_law',
       'world_scientific_and_technical_journal_articles',
       'world_strength_of_legal_rights_index',
       'world_terrestrial_and_marine_protected_areas', 'world_unemployment',
       'world_unmet_need_for_contraception', 'world_voice_and_accountability'],
      dtype='object')

In [42]:
timeseries = country_ts
timeseries.columns

Index(['country_code', 'country_name_vdem', 'year', 'democracy',
       'country_name_wb', 'access_to_clean_fuels_and_technologies_for_cooking',
       'access_to_electricity', 'agricultural_land', 'agriculture',
       'annual_freshwater_withdrawals',
       'annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income',
       'cause_of_death', 'children_in_employment', 'co2_emissions',
       'control_of_corruption', 'droughts', 'ease_of_doing_business_rank',
       'electricity_production_from_coal_sources', 'energy_imports',
       'energy_intensity_level_of_primary_energy', 'energy_use',
       'fertility_rate', 'food_production_index', 'forest_area',
       'fossil_fuel_energy_consumption', 'gdp_growth', 'ghg_net_emissions',
       'gini_index', 'government_effectiveness',
       'government_expenditure_on_education', 'gross_school_enrollment',
       'hospital_beds', 'income_share_held_by_lowest_20pct',
       'individuals_using_the_internet', 'labor_force_participation_rate',
       'life_expectancy_at_birth', 'literacy_rate', 'mammal_species',
       'methane_emissions', 'mortality_rate', 'natural_resources_depletion',
       'net_forest_depletion', 'net_migration', 'nitrous_oxide_emissions',
       'patent_applications',
       'people_using_safely_managed_drinking_water_services',
       'people_using_safely_managed_sanitation_services',
       'pm2_5_air_pollution', 'political_stability_and_absence_of_violence',
       'population_ages_65_and_above', 'population_density',
       'poverty_headcount_ratio_at_national_poverty_lines',
       'prevalence_of_overweight', 'prevalence_of_undernourishment',
       'primary_school_enrollment',
       'proportion_of_seats_held_by_women_in_national_parliaments',
       'ratio_of_female_to_male_labor_force_participation_rate',
       'regulatory_quality', 'renewable_electricity_output',
       'renewable_energy_consumption', 'research_and_development_expenditure',
       'rule_of_law', 'scientific_and_technical_journal_articles',
       'strength_of_legal_rights_index',
       'terrestrial_and_marine_protected_areas', 'unemployment',
       'unmet_need_for_contraception', 'voice_and_accountability'],
      dtype='object')

1st normal form would indicate that each table has a primary key and there is no non-atomic data. For our country table, we have a primary key, which is country code and there is no non-atomic data. For our world table, our primary key is year, and there is no non-atomic data. For our timeseries data, country code and year is our primary/superkey and there is no non-atomic data. All of the requirements have been filled for 1st normal form, so there we have it! Our data is in 1st normal form. Next, for our data to be in 2nd normal form, all our tables must be in 1st normal form, which we just checked. The other condition to be met is that every non-prime column must depend on the entire primary key and not just part of the primary key. The only table we would need to check is our timeseries table since it has a superkey. Each column varies by year and country, except 'country_name_vdem' and 'country_name_wb', both of which depend on 'country_code'. We already have 'country_name_wb' in our country table and 'country_name_vdem' is redundant, so let's drop these from our table.

In [43]:
timeseries = timeseries.drop(['country_name_vdem', 'country_name_wb'], axis = 1)
timeseries.columns

Index(['country_code', 'year', 'democracy',
       'access_to_clean_fuels_and_technologies_for_cooking',
       'access_to_electricity', 'agricultural_land', 'agriculture',
       'annual_freshwater_withdrawals',
       'annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income',
       'cause_of_death', 'children_in_employment', 'co2_emissions',
       'control_of_corruption', 'droughts', 'ease_of_doing_business_rank',
       'electricity_production_from_coal_sources', 'energy_imports',
       'energy_intensity_level_of_primary_energy', 'energy_use',
       'fertility_rate', 'food_production_index', 'forest_area',
       'fossil_fuel_energy_consumption', 'gdp_growth', 'ghg_net_emissions',
       'gini_index', 'government_effectiveness',
       'government_expenditure_on_education', 'gross_school_enrollment',
       'hospital_beds', 'income_share_held_by_lowest_20pct',
       'individuals_using_the_internet', 'labor_force_participation_rate',
       'life_expectancy_at_birth', 'literacy_rate', 'mammal_species',
       'methane_emissions', 'mortality_rate', 'natural_resources_depletion',
       'net_forest_depletion', 'net_migration', 'nitrous_oxide_emissions',
       'patent_applications',
       'people_using_safely_managed_drinking_water_services',
       'people_using_safely_managed_sanitation_services',
       'pm2_5_air_pollution', 'political_stability_and_absence_of_violence',
       'population_ages_65_and_above', 'population_density',
       'poverty_headcount_ratio_at_national_poverty_lines',
       'prevalence_of_overweight', 'prevalence_of_undernourishment',
       'primary_school_enrollment',
       'proportion_of_seats_held_by_women_in_national_parliaments',
       'ratio_of_female_to_male_labor_force_participation_rate',
       'regulatory_quality', 'renewable_electricity_output',
       'renewable_energy_consumption', 'research_and_development_expenditure',
       'rule_of_law', 'scientific_and_technical_journal_articles',
       'strength_of_legal_rights_index',
       'terrestrial_and_marine_protected_areas', 'unemployment',
       'unmet_need_for_contraception', 'voice_and_accountability'],
      dtype='object')

Now our timeseries table is in 2nd normal form and so are the rest of our tables. Our data is in 2nd normal form. For our data to be in 3rd normal form, we have to satisfy the 2nd normal form, which we have, and that there are no transitive dependencies, or a functional dependence between two non-prime attributes, unless the funtional dependence is based on a *candidate key*. We do have transitive dependencies in our country table. However, 'country_name_wb' or 'country_longname' could serve as the primary key, so they are candidate keys and are allowed to have functional dependencies. There are no other functional dependencies in our data, so we are a go on 3rd normal form.

# (4)
Connect to the PostgreSQL server that is running on port 5432. Create a new database called 'cardib'. Then use sqlalchemy to create an engine that connects to this database, and upload the country, world, and timeseries tables to this database. (Hint: set 'user' in the psycopg2.connect() method to be 'postgres', and set 'host' to be whatever you named the PostgreSQL service in your compose.yaml file. I named this service 'postgres' in my file. In addition, change 'localhost' in the create_engine() function to the name of this service as well.) [4 points]

In [44]:
postgres_password = os.environ['POSTGRES_PASSWORD']

In [45]:
server = psycopg2.connect(
    user = 'postgres',
    password = postgres_password,
    host = 'postgres',
    port = '5432')
server.autocommit = True

In [46]:
cursor = server.cursor()

In [47]:
try:
    cursor.execute("CREATE DATABASE cardib")
except:
    cursor.execute("DROP DATABASE cardib")
    cursor.execute("CREATE DATABASE cardib")

In [48]:
engine = create_engine('postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}'.format(
    user = 'postgres',
    password = postgres_password,
    host = 'postgres',
    port = '5432',
    db = 'cardib'))

In [49]:
country.to_sql('country', con = engine, if_exists = 'replace', index=False, chunksize = 1000)
world.to_sql('world', con = engine, if_exists = 'replace', index=False, chunksize = 1000)
timeseries.to_sql('timeseries', con = engine, if_exists = 'replace', index=False, chunksize = 1000)

9976

# (5)
Use dbdocs to create an ER diagram for this database. Copy the text of your .dmbl file and paste it in a "raw" type cell below. Then copy the URL of the published ER diagram and paste it in a markdown cell.

A few points to keep in mind:

- In the timeseries table, country_code is varchar, year is int, and every feature is float.

- Pay close attention to whether the tables have a one-to-one, many-to-one, or one-to-many relationship with each other, and make sure the ER diagram properly represents that relationship.

- It would be good to write a sentence or two describing the sources of the data as a note for the database. [5 points]

Project Country_Analysis_Relational_DataBase {
  database_type: 'PostgreSQL'
  Note: '''
    # Country Analysis Relational Database (CARDIB)
    ### Version 0.0.1
    The data come from World Bank's Sovereign Environmental, Social, and Governance (ESG) Data project as well as data on the quality and democratic character of countries' governments as reported by the Varieties of Democracy (V-Dem) project at the University of Notre Dame. By using both data sources, we can conduct analyses to see whether democratic openness leads to better societal outcomes for countries.
  '''
}
Table country as C {
    country_code varchar [pk]
    country_name_wb varchar
    country_longname varchar
    currency_unit varchar
    region varchar
    income_group varchar
  note: "World Bank data about countries that don't depend on year"
}
Table world as W {
    year int [pk]
    world_access_to_clean_fuels_and_technologies_for_cooking float
    world_access_to_electricity float
    world_agricultural_land float
    world_agriculture float
    world_annual_freshwater_withdrawals float
    world_annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income float
    world_cause_of_death float
    world_children_in_employment float
    world_co2_emissions float
    world_control_of_corruption float
    world_droughts float
    world_ease_of_doing_business_rank float
    world_electricity_production_from_coal_sources float
    world_energy_imports float
    world_energy_intensity_level_of_primary_energy float
    world_energy_use float
    world_fertility_rate float
    world_food_production_index float
    world_forest_area float
    world_fossil_fuel_energy_consumption float
    world_gdp_growth float
    world_ghg_net_emissions float
    world_gini_index float
    world_government_effectiveness float
    world_government_expenditure_on_education float
    world_gross_school_enrollment float
    world_hospital_beds float
    world_income_share_held_by_lowest_20pct float
    world_individuals_using_the_internet float
    world_labor_force_participation_rate float
    world_life_expectancy_at_birth float
    world_literacy_rate float
    world_mammal_species float
    world_methane_emissions float
    world_mortality_rate float
    world_natural_resources_depletion float
    world_net_forest_depletion float
    world_net_migration float
    world_nitrous_oxide_emissions float
    world_patent_applications float
    world_people_using_safely_managed_drinking_water_services float
    world_people_using_safely_managed_sanitation_services float
    world_pm2_5_air_pollution float
    world_political_stability_and_absence_of_violence float
    world_population_ages_65_and_above float
    world_population_density float
    world_poverty_headcount_ratio_at_national_poverty_lines float
    world_prevalence_of_overweight float
    world_prevalence_of_undernourishment float
    world_primary_school_enrollment float
    world_proportion_of_seats_held_by_women_in_national_parliaments float
    world_ratio_of_female_to_male_labor_force_participation_rate float
    world_regulatory_quality float
    world_renewable_electricity_output float
    world_renewable_energy_consumption float
    world_research_and_development_expenditure float
    world_rule_of_law float
    world_scientific_and_technical_journal_articles float
    world_strength_of_legal_rights_index float
    world_terrestrial_and_marine_protected_areas float
    world_unemployment float
    world_unmet_need_for_contraception float
    world_voice_and_accountability float
    note: "World Bank time series on world level statistics"
}
Table timeseries as T {
    country_code varchar [pk]
    year int [pk]
    democracy float
    access_to_clean_fuels_and_technologies_for_cooking float
    access_to_electricity float
    agricultural_land float
    agriculture float
    annual_freshwater_withdrawals float
    annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income float
    cause_of_death float
    children_in_employment float
    co2_emissions float
    control_of_corruption float
    droughts float
    ease_of_doing_business_rank float
    electricity_production_from_coal_sources float
    energy_imports float
    energy_intensity_level_of_primary_energy float
    energy_use float
    fertility_rate float
    food_production_index float
    forest_area float
    fossil_fuel_energy_consumption float
    gdp_growth float
    ghg_net_emissions float
    gini_index float
    government_effectiveness float
    government_expenditure_on_education float
    gross_school_enrollment float
    hospital_beds float
    income_share_held_by_lowest_20pct float
    individuals_using_the_internet float
    labor_force_participation_rate float
    life_expectancy_at_birth float
    literacy_rate float
    mammal_species float
    methane_emissions float
    mortality_rate float
    natural_resources_depletion float
    net_forest_depletion float
    net_migration float
    nitrous_oxide_emissions float
    patent_applications float
    people_using_safely_managed_drinking_water_services float
    people_using_safely_managed_sanitation_services float
    pm2_5_air_pollution float
    political_stability_and_absence_of_violence float
    population_ages_65_and_above float
    population_density float
    poverty_headcount_ratio_at_national_poverty_lines float
    prevalence_of_overweight float
    prevalence_of_undernourishment float
    primary_school_enrollment float
    proportion_of_seats_held_by_women_in_national_parliaments float
    ratio_of_female_to_male_labor_force_participation_rate float
    regulatory_quality float
    renewable_electricity_output float
    renewable_energy_consumption float
    research_and_development_expenditure float
    rule_of_law float
    scientific_and_technical_journal_articles float
    strength_of_legal_rights_index float
    terrestrial_and_marine_protected_areas float
    unemployment float
    unmet_need_for_contraception float
    voice_and_accountability float
    note: "World Bank and V-Dem time series metrics on each country"
}

Ref: C.country_code < T.country_code 
Ref: T.year - W.year

https://dbdocs.io/beauleb1/Country_Analysis_Relational_DataBase?view=relationships

# (6) 
Write SQL queries for the cardib database that perform the following tasks, and display the output: [3 points each]

## a.
What countries had the highest quality democracies in the year 2021? Join the timeseries and country tables, select the country_name_wb and democracy attributes, rename county_name_wb to country, filter the rows to only those for the year 2021, and sort the rows in descending order by the value of democracy.

In [101]:
pd.set_option('display.max_rows', None)

In [102]:
myquery = '''
SELECT c.country_name_wb AS country, t.democracy 
FROM timeseries t
INNER JOIN country c
    ON t.country_code = c.country_code
WHERE t.year = 2021
ORDER BY t.democracy DESC
'''

democracy = pd.read_sql(myquery, con=engine)
democracy

                       country  democracy
0                      Denmark      0.908
1                       Sweden      0.907
2                   Costa Rica      0.900
3                       Norway      0.898
4                      Estonia      0.891
5                  New Zealand      0.887
6                      Ireland      0.885
7                  Switzerland      0.885
8                      Belgium      0.885
9                     Portugal      0.883
10                  Luxembourg      0.878
11                      France      0.874
12                     Germany      0.870
13                     Finland      0.868
14              United Kingdom      0.863
15                 Netherlands      0.862
16                 Korea, Rep.      0.861
17                      Canada      0.857
18                       Spain      0.856
19                   Australia      0.854
20                       Italy      0.851
21             Slovak Republic      0.846
22                     Uruguay      0.841
23                       Japan      0.835
24                       Chile      0.834
25                     Iceland      0.832
26                      Latvia      0.826
27                     Austria      0.825
28               United States      0.821
29                   Argentina      0.819
30                      Cyprus      0.816
31                     Jamaica      0.806
32              Czech Republic      0.805
33                   Lithuania      0.797
34                      Greece      0.797
35                    Barbados      0.797
36                     Romania      0.782
37                     Vanuatu      0.777
38                       Malta      0.777
39         Trinidad and Tobago      0.775
40                    Suriname      0.760
41                        Peru      0.759
42                     Croatia      0.751
43                      Panama      0.750
44                  Cabo Verde      0.747
45                      Israel      0.739
46                     Armenia      0.739
47                     Moldova      0.738
48                South Africa      0.715
49                     Senegal      0.708
50                    Slovenia      0.703
51       SÃ£o TomÃ© and Principe      0.688
52          Dominican Republic      0.683
53                 Timor-Leste      0.680
54                  Seychelles      0.667
55                Burkina Faso      0.664
56                       Ghana      0.663
57                      Brazil      0.661
58                    Bulgaria      0.656
59                     Georgia      0.648
60                    Colombia      0.645
61                     Ecuador      0.644
62                     Namibia      0.634
63                    Mongolia      0.628
64                      Mexico      0.628
65             Solomon Islands      0.626
66                     Liberia      0.624
67                     Lesotho      0.623
68                     Bolivia      0.619
69                      Malawi      0.618
70                    Maldives      0.596
71                    Botswana      0.595
72                   Mauritius      0.593
73                       Nepal      0.589
74             North Macedonia      0.586
75                   Indonesia      0.585
76                      Poland      0.585
77                   Sri Lanka      0.573
78                      Bhutan      0.573
79                    Paraguay      0.570
80               Guinea-Bissau      0.557
81                     Tunisia      0.556
82                Sierra Leone      0.553
83                      Guyana      0.537
84      Bosnia and Herzegovina      0.526
85                       Niger      0.522
86                     Ukraine      0.517
87                   Guatemala      0.502
88                 Gambia, The      0.499
89                  Montenegro      0.496
90                     Nigeria      0.491
91                  Madagascar      0.481
92                     Albania      0.478
93                       Kenya      0.471
94                 El Salvador      0.467
95                     Hungary      0.462
96                     Lebanon      0.455
97                       India      0.444
98               CÃ´te d'Ivoire      0.431
99                 Philippines      0.429
100           Papua New Guinea      0.425
101            Kyrgyz Republic      0.421
102                      Benin      0.421
103                   Malaysia      0.413
104                  Singapore      0.404
105                       Fiji      0.403
106                   Honduras      0.393
107                 Mauritania      0.385
108                     Zambia      0.379
109                      Gabon      0.377
110                       Iraq      0.373
111                       Togo      0.368
112                   Pakistan      0.363
113                   Tanzania      0.360
114           Congo, Dem. Rep.      0.358
115                 Mozambique      0.356
116                      Haiti      0.353
117                     Angola      0.351
118                     Serbia      0.336
119   Central African Republic      0.333
120                    Comoros      0.320
121                   Ethiopia      0.314
122                   Cameroon      0.299
123                     Kuwait      0.298
124                    Algeria      0.284
125                     Uganda      0.284
126                   Zimbabwe      0.281
127                    TÃ¼rkiye      0.279
128                     Guinea      0.279
129                      Libya      0.272
130                 Bangladesh      0.267
131                    Morocco      0.261
132                     Jordan      0.258
133                 Kazakhstan      0.257
134         Russian Federation      0.257
135                       Mali      0.254
136                   Djibouti      0.252
137                Congo, Rep.      0.244
138                     Rwanda      0.236
139                  Nicaragua      0.233
140                    Vietnam      0.220
141              Venezuela, RB      0.219
142                 Uzbekistan      0.216
143                       Chad      0.209
144                   Thailand      0.198
145                   Cambodia      0.195
146                 Azerbaijan      0.194
147                    Burundi      0.184
148                 Tajikistan      0.184
149                      Sudan      0.184
150           Egypt, Arab Rep.      0.184
151                    Belarus      0.183
152         Iran, Islamic Rep.      0.182
153                       Cuba      0.181
154                       Oman      0.176
155          Equatorial Guinea      0.174
156                    Somalia      0.163
157                Afghanistan      0.160
158               Turkmenistan      0.150
159       Syrian Arab Republic      0.139
160                South Sudan      0.136
161                    Lao PDR      0.133
162                   Eswatini      0.129
163                    Myanmar      0.126
164                    Bahrain      0.122
165                Yemen, Rep.      0.112
166       United Arab Emirates      0.100
167  Korea, Dem. People's Rep.      0.085
168                      China      0.078
169                    Eritrea      0.069
170                      Qatar      0.065
171               Saudi Arabia      0.016

## b.
How does the life expectancy at birth for Chile compare to the global average life expectancy at birth over the 1960-2021 time span? Join the timeseries and world tables, select year from the timeseries table and the life expectancy attributes from both the timeseries and world tables, filter the rows to just those where the country code is CHL, and sort the rows by year.

In [104]:
myquery = '''
SELECT t.year, t.life_expectancy_at_birth, w.world_life_expectancy_at_birth
FROM timeseries t
INNER JOIN world w
    ON t.year = w.year
WHERE t.country_code = 'CHL'
ORDER BY t.year DESC
'''

life_expectancy = pd.read_sql(myquery, con=engine)
life_expectancy

    year  life_expectancy_at_birth  world_life_expectancy_at_birth
0   2021                       NaN                             NaN
1   2020                    80.329                       72.747919
2   2019                    80.181                       72.763223
3   2018                    80.042                       72.574415
4   2017                    79.909                       72.391699
5   2016                    79.779                       72.186230
6   2015                    79.646                       71.952115
7   2014                    79.504                       71.746055
8   2013                    79.349                       71.465864
9   2012                    79.176                       71.173299
10  2011                    78.986                       70.884017
11  2010                    78.779                       70.556690
12  2009                    78.558                       70.246454
13  2008                    78.330                       69.899515
14  2007                    78.099                       69.591549
15  2006                    77.865                       69.262291
16  2005                    77.630                       68.920212
17  2004                    77.391                       68.652510
18  2003                    77.146                       68.326018
19  2002                    76.894                       68.070140
20  2001                    76.634                       67.821745
21  2000                    76.366                       67.548960
22  1999                    76.092                       67.293324
23  1998                    75.813                       67.086499
24  1997                    75.530                       66.843390
25  1996                    75.244                       66.558518
26  1995                    74.957                       66.274217
27  1994                    74.671                       66.087772
28  1993                    74.386                       65.884404
29  1992                    74.100                       65.770017
30  1991                    73.808                       65.618381
31  1990                    73.509                       65.433233
32  1989                    73.198                       65.247049
33  1988                    72.872                       65.034753
34  1987                    72.524                       64.830772
35  1986                    72.148                       64.579674
36  1985                    71.737                       64.279250
37  1984                    71.282                       64.021695
38  1983                    70.782                       63.757125
39  1982                    70.239                       63.508976
40  1981                    69.655                       63.182513
41  1980                    69.033                       62.841716
42  1979                    68.378                       62.555443
43  1978                    67.698                       62.193394
44  1977                    67.005                       61.832636
45  1976                    66.307                       61.408775
46  1975                    65.609                       60.985427
47  1974                    64.917                       60.540634
48  1973                    64.231                       60.047295
49  1972                    63.555                       59.596477
50  1971                    62.895                       59.110429
51  1970                    62.254                       58.579728
52  1969                    61.637                       57.991969
53  1968                    61.044                       57.386244
54  1967                    60.474                       56.783745
55  1966                    59.931                       56.078453
56  1965                    59.415                       55.346907
57  1964                    58.927                       54.687504
58  1963                    58.467                       54.017514
59  1962                    58.031                       53.492420
60  1961                    57.616                       53.075105
61  1960                    57.219                       52.581916

## c.
What regions of the world generated the most carbon dioxide emissions in 2019? Join the timeseries and country tables, filter the rows to only the ones that refer to 2019, and aggregate the data by region. Keep the region column from the country table and the sum of the co2_emissions attribute from the timeseries table. Rename the sum to co2_emissions. Then sort the rows in descending order by co2_emissions.

In [62]:
myquery = '''
SELECT c.region, SUM(t.co2_emissions) as co2_emissions
FROM timeseries t
INNER JOIN country c
    ON t.country_code = c.country_code
WHERE t.year = 2019
GROUP BY c.region
ORDER BY co2_emissions DESC
'''

co2 = pd.read_sql(myquery, con=engine)
co2

                       region  co2_emissions
0       Europe & Central Asia     275.817873
1  Middle East & North Africa     175.104550
2         East Asia & Pacific      95.228469
3   Latin America & Caribbean      70.512349
4          Sub-Saharan Africa      43.942360
5               North America      30.104023
6                  South Asia      10.304685

## d. 
What countries experienced the greatest increases in democratic quality over the 1960-2021 time span? Use subqueries to create two new tables on the fly. One table contains country_code and democracy from the timeseries table in which only the rows from 1960 are present. The second table contains country_code and democracy from the timeseries table in which only the rows from 2021 are present. Join these two tables together, then join the result with the country table. Select the country name from county, democracy from the 1960 table, democracy from the 2021 table, and the difference between the two democracy scores. Give each column a more intuitive name. Then sort the rows in descending order by the democracy difference and display the first 10 rows.

In [76]:
myquery = '''
WITH start_democracy AS (SELECT country_code, democracy 
FROM timeseries
WHERE year = 1960),

end_democracy AS (SELECT country_code, democracy 
FROM timeseries
WHERE year = 2021),

composite_democracy AS (SELECT s.country_code, s.democracy as democracy_1960, e.democracy as democracy_2021
FROM start_democracy s
INNER JOIN end_democracy e
    ON s.country_code = e.country_code)
    
SELECT c.country_name_wb as country,
       com.democracy_1960, 
       com.democracy_2021, 
       (CAST(com.democracy_2021 AS FLOAT) - CAST(com.democracy_1960 AS FLOAT)) AS democracy_improvement
FROM composite_democracy com
INNER JOIN country c
    ON c.country_code = com.country_code
ORDER BY democracy_improvement DESC
LIMIT 10
'''

democracy = pd.read_sql(myquery, con=engine)
democracy

,country,democracy_1960,democracy_2021,democracy_improvement
0,Spain,0.070,0.856,0.786
1,Portugal,0.128,0.883,0.755
2,Cabo Verde,0.025,0.747,0.722
3,Vanuatu,0.080,0.777,0.697
4,Timor-Leste,0.017,0.680,0.663
5,SÃ£o TomÃ© and Principe,0.030,0.688,0.658
6,Romania,0.157,0.782,0.625
7,Czech Republic,0.194,0.805,0.611
8,Malawi,0.041,0.618,0.577
9,Namibia,0.061,0.634,0.573

## e. 
By count of countries, what is the most commonly used currency in the world?

In [79]:
myquery = '''
SELECT currency_unit, COUNT(currency_unit) as total_countries
FROM country
GROUP BY currency_unit
ORDER BY total_countries DESC
LIMIT 1
'''

currency = pd.read_sql(myquery, con=engine)
currency

  currency_unit  total_countries
0          Euro               23

## f. 
The GINI index measures the amount of economic inequality in a country. The higher the index, the greater the economic disparity between rich and poor. How does the average GINI index compare across income groups (see the country table) in 2019?

In [93]:
myquery = '''
SELECT c.income_group, AVG(t.gini_index) as avg_gini
FROM country c
INNER JOIN timeseries t
    ON t.country_code = c.country_code
WHERE year = 2019
GROUP BY income_group
ORDER BY avg_gini DESC
'''

gini = pd.read_sql(myquery, con=engine)
gini

          income_group   avg_gini
0                 None        NaN
1           Low income  40.600000
2  Upper middle income  38.390476
3  Lower middle income  38.170000
4          High income  31.752000

## Extra credit
Some countries include the word 'Republic' or 'Democratic' in their official names. Other countries do not. Which of these two groups of countries had a higher average level of democratic quality in 2021? (It's OK if you use two queries to provide this answer.) [5 bonus points]

In [105]:
myquery = '''
SELECT AVG(t.democracy) AS avg_democracy, 
       CASE 
           WHEN c.country_longname LIKE '%%Rep%%' OR c.country_longname LIKE '%%Dem%%' THEN 1
           ELSE 0 
        END as rep_or_dem
FROM country c
INNER JOIN timeseries t
    ON t.country_code = c.country_code
WHERE year = 2021
GROUP BY rep_or_dem
'''

repdem = pd.read_sql(myquery, con=engine)
repdem

   avg_democracy  rep_or_dem
0       0.542902           0
1       0.497000           1

In [108]:
myquery = '''
SELECT c.country_code, t.democracy,
       CASE 
           WHEN c.country_longname LIKE '%%Rep%%' OR c.country_longname LIKE '%%Dem%%' THEN 1
           ELSE 0 
        END as rep_or_dem
FROM country c
INNER JOIN timeseries t
    ON t.country_code = c.country_code
WHERE year = 2021
'''

repdem = pd.read_sql(myquery, con=engine)
repdem

    country_code  democracy  rep_or_dem
0            MEX      0.628           0
1            SUR      0.760           1
2            SWE      0.907           0
3            CHE      0.885           0
4            GHA      0.663           1
5            ZAF      0.715           1
6            JPN      0.835           0
7            MMR      0.126           1
8            RUS      0.257           0
9            ALB      0.478           1
10           EGY      0.184           1
11           YEM      0.112           1
12           COL      0.645           1
13           POL      0.585           1
14           BRA      0.661           1
15           USA      0.821           0
16           PRT      0.883           1
17           SLV      0.467           1
18           BGD      0.267           1
19           BOL      0.619           0
20           HTI      0.353           1
21           HND      0.393           1
22           MLI      0.254           1
23           PAK      0.363           1
24           PER      0.759           1
25           SEN      0.708           1
26           SSD      0.136           1
27           SDN      0.184           1
28           VNM      0.220           1
29           AFG      0.160           0
30           ARG      0.819           1
31           ETH      0.314           1
32           IND      0.444           1
33           KEN      0.471           1
34           PRK      0.085           1
35           KOR      0.861           1
36           LBN      0.455           1
37           NGA      0.491           1
38           PHL      0.429           1
39           TZA      0.360           1
40           THA      0.198           0
41           UGA      0.284           1
42           VEN      0.219           1
43           BEN      0.421           1
44           BTN      0.573           0
45           BFA      0.664           0
46           KHM      0.195           0
47           IDN      0.585           1
48           MOZ      0.356           1
49           NPL      0.589           0
50           NIC      0.233           1
51           NER      0.522           1
52           ZMB      0.379           1
53           ZWE      0.281           1
54           GIN      0.279           1
55           CIV      0.431           1
56           MRT      0.385           1
57           CAN      0.857           0
58           AUS      0.854           0
59           BWA      0.595           1
60           BDI      0.184           1
61           CPV      0.747           1
62           CAF      0.333           1
63           CHL      0.834           1
64           CRI      0.900           1
65           TLS      0.680           1
66           ECU      0.644           1
67           FRA      0.874           1
68           DEU      0.870           1
69           GTM      0.502           1
70           IRN      0.182           1
71           IRQ      0.373           1
72           IRL      0.885           0
73           ITA      0.851           1
74           JOR      0.258           0
75           LVA      0.826           1
76           LSO      0.623           0
77           LBR      0.624           1
78           MWI      0.618           1
79           MDV      0.596           1
80           MNG      0.628           0
81           PAN      0.750           1
82           MAR      0.261           0
83           NLD      0.862           0
84           PNG      0.425           0
85           QAT      0.065           0
86           SLE      0.553           1
87           ESP      0.856           0
88           SYR      0.139           1
89           TUN      0.556           1
90           TUR      0.279           1
91           UKR      0.517           0
92           GBR      0.863           0
93           URY      0.841           1
94           DZA      0.284           1
95           AGO      0.351           1
96           ARM      0.739           1
97           AZE      0.194           1
98           BLR      0.183           1
99           CMR      0.299           1
100          TCD      0.209           1
101          CHN      0.078           1
102          COD      0.358           1
103          COG      0.244           1
104          DJI      0.252           1
105          DOM      0.683           1
106          ERI      0.069           0
107          GAB      0.377           1
108          GMB      0.499           1
109          GEO      0.648           0
110          GNB      0.557           1
111          JAM      0.806           0
112          KAZ      0.257           1
113          KGZ      0.421           1
114          LAO      0.133           1
115          LBY      0.272           0
116          MDG      0.481           1
117          MDA      0.738           1
118          NAM      0.634           1
119          RWA      0.236           1
120          SOM      0.163           1
121          LKA      0.573           1
122          SWZ      0.129           0
123          TJK      0.184           1
124          TGO      0.368           1
125          TTO      0.775           1
126          TKM      0.150           0
127          UZB      0.216           1
128          AUT      0.825           1
129          BHR      0.122           0
130          BRB      0.797           0
131          BEL      0.885           0
132          BIH      0.526           0
133          BGR      0.656           1
134          COM      0.320           0
135          HRV      0.751           1
136          CUB      0.181           1
137          CYP      0.816           1
138          CZE      0.805           1
139          DNK      0.908           0
140          GNQ      0.174           1
141          EST      0.891           1
142          FJI      0.403           1
143          FIN      0.868           1
144          GRC      0.797           1
145          GUY      0.537           1
146          ISL      0.832           1
147          ISR      0.739           0
148          KWT      0.298           0
149          LTU      0.797           1
150          LUX      0.878           0
151          MKD      0.586           1
152          MYS      0.413           0
153          MLT      0.777           1
154          MUS      0.593           1
155          MNE      0.496           0
156          NZL      0.887           0
157          NOR      0.898           0
158          OMN      0.176           0
159          PRY      0.570           1
160          ROU      0.782           0
161          STP      0.688           1
162          SRB      0.336           1
163          SAU      0.016           0
164          SYC      0.667           1
165          SGP      0.404           1
166          SVK      0.846           1
167          SVN      0.703           1
168          SLB      0.626           0
169          VUT      0.777           1
170          ARE      0.100           0
171          HUN      0.462           0